@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Regular.eot");
  src: url("/public/font/Vazir-Regular.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Regular.woff2") format("woff2"),
    url("/public/font/Vazir-Regular.woff") format("woff"),
    url("/public/font/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Bold.eot");
  src: url("/public/font/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Bold.woff2") format("woff2"),
    url("/public/font/Vazir-Bold.woff") format("woff"),
    url("/public/font/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Black.eot");
  src: url("/public/font/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Black.woff2") format("woff2"),
    url("/public/font/Vazir-Black.woff") format("woff"),
    url("/public/font/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Medium.eot");
  src: url("/public/font/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Medium.woff2") format("woff2"),
    url("/public/font/Vazir-Medium.woff") format("woff"),
    url("/public/font/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Light.eot");
  src: url("/public/font/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Light.woff2") format("woff2"),
    url("/public/font/Vazir-Light.woff") format("woff"),
    url("/public/font/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("/public/font/Vazir-Thin.eot");
  src: url("/public/font/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("/public/font/Vazir-Thin.woff2") format("woff2"),
    url("/public/font/Vazir-Thin.woff") format("woff"),
    url("/public/font/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
